h3{
    color:purple;
    font-size: 39px;
}
.first {
    color:red;
}
#paragraph2{
    color:aquamarine;
}
h1,h3{
    background-color: aqua;
}
div p{
    background-color: brown;
    margin: 50px 20px 10px 0px;
    padding: 50px 20px 10px 0px;
    border:5px  dashed blue;
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}