.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #1f2937;
    color:white;
    position:sticky;
    top:0;
    z-index: 100;
}
.navbar h2{
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}
.navbar ul{
     display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3;
}
.navbar a:hover{
    color:#D4AF37;
}
.navbar span{
    font-weight: bold;
    color: #fbbf24;
}
.navbar button{
    background: #dc2626;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;

}
.navbar button:hover{
    background: #b91c1c;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fbbf24;
}

.profile-container{
    padding: 40px;
    text-align: center;
}
.profile-card{
    max-width: 400px;
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
@media (max-width: 768px){
    .navbar{
        flex-direction: column;
        padding: 15px;
    }

    .navbar ul{
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
    }
}