.search-box{
    width: 300px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}


.clear-btn{
    padding: 10px 20px;
    margin-left: 110px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.clear-btn :hover{
    opacity: 0.9;
}