.admin-users{
    padding:30px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid #ddd;
    padding:12px;
    text-align:left;
}

th{
    background:#222;
    color:white;
}

button{
    padding:8px 15px;
    cursor:pointer;
}