.my-bookings{
    padding: 30px;
}

.my-bookings h1{
    text-align: center;
    margin-bottom: 30px;

}

.booking-cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.booking-card{
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1) ;
}
.booking-card button{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    background: crimson;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}