*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #0F172A;
    color: white;


}
.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;

}
.hero{
    height: 90vh;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    background-color:#F8FAFC ;
}
.hero h1{
    font-size: 3rem;
}
.hero p{
    font-size: 1.2rem;
}
.hero button{
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    background-color: #D4AF37;

}